@model TMC.DATA.TbRoles_TbPermisos

@{
    ViewBag.Title = "Editar Permisos del Rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosAdmin.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosBarraAdmin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Editar Permisos del Rol</li>

    </ol>
</nav>



<body id="estiloAdmin">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-body" style="">
            <h5 style="color: black; background-color: #DD969C; width: inherit; height: 100%; text-align: left">
            Editar Permisos del Rol</h5>
        </div>
        <div class="card">
            <br />
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.IDRolPermiso, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IDRolPermiso, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IDRolPermiso, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IDRol, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IDRol, (IEnumerable<SelectListItem>)ViewBag.ddlRoles, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDRol, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IDPermiso, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IDPermiso, (IEnumerable<SelectListItem>)ViewBag.ddlPermisos, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDPermiso, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.estado)
                        @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn-outline-btn" />
                         | @Html.ActionLink("Regresar", "Admin_Roles_Permisos", "TbRoles_TbPermisos", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    }


    <script src="https://kit.fontawesome.com/065c8b2d38.js" crossorigin="anonymous"></script>
</body>