@model TMC.DATA.TbCitas

@{
    ViewBag.Title = "Editar Cita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosAdmin.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosBarraAdmin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Editar Cita</li>

    </ol>
</nav>
<!-- /Breadcrumb -->


<body id="estiloAdmin">
    @using (Html.BeginForm("Edit","TbCitas",FormMethod.Post))
    {
        
    <div class="card-body form-vertical">
        <h5 style="color: black; background-color: #DD969C;width: inherit;height: 100%;text-align: left">
            Información de la Cita
        </h5>
        <div class="form-vertical" style="color:black;">
            <div class="card-columns">
                <div class="form-group" style="display:none">
                    @Html.LabelFor(model => model.IDCita, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" type="date" href=@Html.EditorFor(model => model.fechaCita, new { htmlAttributes = new { @class = "form-control" } })
                               @*@Html.EditorFor(model => model.IDCita, new { htmlAttributes = new { @class = "form-control" } })*@
                               @Html.ValidationMessageFor(model => model.IDCita, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.fechaCita, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fechaCita, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fechaCita, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IDUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.IDUsuario, new { @readonly = "readonly", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDUsuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nombreServicio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.nombreServicio, new { @readonly = "readonly", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.nombreServicio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.detalle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.detalle, new { @readonly = "readonly", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.detalle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                @Html.LabelFor(model => model.IDProgreso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IDProgreso, (IEnumerable<SelectListItem>)ViewBag.ddlProgresos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDProgreso, "", new { @class = "text-danger" })
                </div>
            </div>*@



            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn-outline-btn btn-sm" />
                    
                    |@Html.ActionLink(" Regresar", "Admin_Citas", "TbCitas", null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
        </div>
    }
    <script src="https://kit.fontawesome.com/065c8b2d38.js" crossorigin="anonymous"></script>
</body>