@model TMC.DATA.TbServicios

@{
    ViewBag.Title = "Crear Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosAdmin.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosBarraAdmin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Crear Servicio</li>

    </ol>
</nav>
<!-- /Breadcrumb -->

@if (TMC.DATA.TbUsuarios.IDRolUsuarioActual == 2)
{

    Response.Redirect(Url.Action("Index", "Home"));
}
<body id="estiloAdmin">
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <h5 style="color: black; background-color: #DD969C;width: inherit;height: 100%;text-align: left">
            Crear un Nuevo Servicio
        </h5>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.detalle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.detalle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.detalle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDCatalogo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IDCatalogo, (IEnumerable<SelectListItem>)ViewBag.ddlCatalogos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDCatalogo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.estado)
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-10">
                <input type="submit" value="Actualizar" class="btn-outline-btn" />
                @Html.ActionLink(" Regresar", "Admin_Servicios", "TbServicios", new { @class = "text-danger" })

            </div>
            <br />
        </div>
    }

    <script src="https://kit.fontawesome.com/065c8b2d38.js" crossorigin="anonymous"></script>
</body>