@model TMC.DATA.TbCatalogos

@{
    ViewBag.Title = "Administrar Catalogos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <title>Tabla Administrador de  catalogos</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosAdmin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body id="estiloAdmin">
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>Administrar <b>Catalogos</b></h2>
                        </div>
                        <div class="col-xs-7">
                            <a href="~/Views/TbCatalogos/Create.cshtml" class="btn btn-primary"><i class="material-icons">&#xE147;</i> <span>Agregar Nuevo Catalogo</span></a>
                            <a href="#" class="btn btn-primary"><i class="material-icons">&#xE24D;</i> <span>Exportar a excel</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            @*<td>  @Html.LabelFor(model => model.IDCatalogo, htmlAttributes: new { @class = "control-label col-md-2" })</td>*@
                            <td>  @Html.LabelFor(model => model.detalle, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td>
                                <a href="~/Views/TbServicios/Edit.cshtml" class="settings" title="Editar" data-toggle="tooltip"><span class="material-icons">edit</span></a>
                                <a href="~/Views/TbServicios/Delete.cshtml" class="delete" title="Borrar" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            @*<td>  @Html.LabelFor(model => model.IDCatalogo, htmlAttributes: new { @class = "control-label col-md-2" })</td>*@
                            <td>  @Html.LabelFor(model => model.detalle, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td> </td>
                            <td> </td>
                            <td></td>
                            <td>
                            <a href="~/Views/TbServicios/Edit.cshtml" class="settings" title="Editar" data-toggle="tooltip"><span class="material-icons">edit</span></a>
                            <a href="~/Views/TbServicios/Delete.cshtml" class="delete" title="Borrar" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="clearfix">

                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item "><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>




