@model TMC.DATA.TbCompras

@{
    ViewBag.Title = "Borrar Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosAdmin.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosBarraAdmin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
</head>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Eliminar Compra</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<h2>Elimnar Compra</h2>


<body id="estiloAdmin" style="text-align:left">
    @using (Html.BeginForm())
    {
            <div class="card-body">
                <h5 style="color: black; background-color: #DD969C;width: inherit;height: 100%;text-align: left">
                    Está seguro que desea eliminar esta compra?
                </h5>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IDCompra)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IDCompra)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IDUsuario)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IDUsuario)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IDServicio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IDServicio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NombreServicio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NombreServicio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.precio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.precio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.estado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.estado)
                    </dd>


                </dl>

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn-outline-btn" />
                    @*|@Html.ActionLink(" Regresar", "Admin_Progresos", "TbProgresos", null, new { @class = "text-danger" })*@

                </div>
                <br />

            </div>


            }
    </body>



