@model TMC.DATA.TbUsuarios

@{
    ViewBag.Title = "DetailClient";
}

<h2>DetailClient</h2>

<div>
    <h4>TbUsuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IDUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUsuario)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasenna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasenna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditClient", new { id = Model.IDUsuario }) |
    @Html.ActionLink("Regresar", "Profile","Usuario")
</p>
