@model TMC.DATA.TbUsuarios


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosAdmin.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosBarraAdmin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Editar Usuario</li>

    </ol>
</nav>
<!-- /Breadcrumb -->

<body id="estiloAdmin">
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

    <div class="card-body">
        <h5 style="color: black; background-color: #DD969C;width: inherit;height: 100%;text-align: left">
        Informacion de Usuario
        </h5>
            <div class="card">
                <div>
                    <div>
                        <div class="form-horizontal">

                            <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.cedula)
                                @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.nombre)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.apellidos)

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.telefono)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.correo)
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.IDRol, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.IDRol)
                            </div>

                            <div class="form-group">

                                @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.estado)
                                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    <input type="submit" value="Actualizar" class="btn-outline-btn" />
                                    @Html.ActionLink(" Regresar", "Admin_users", "TbUsuarios", new { @class = "text-danger" })

                                </div>
                            </div>


                        </div>

                    </div>
                    <br />

                    @* @Html.AntiForgeryToken()*@






                </div>

            </div>
        

    </div>
    }


    <script src="https://kit.fontawesome.com/065c8b2d38.js" crossorigin="anonymous"></script>
</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
