@model TMC.DATA.TbUsuarios

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TMC.DATA.TbUsuarios.IDRolUsuarioActual == 1)
{

    Response.Redirect(Url.Action("Admin_Users", "TbUsuarios"));
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        alert("@Html.Raw(@ViewBag.Message)");
        window.location = "/Usuario/Profile";
    </script>
}

<head>
    <title>Perfil de usuario </title>
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
</head>


<div>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->
    <div class="container">
        <div class="main-body">


            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="@Model.foto" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>@Html.DisplayFor(model => model.nombre)</h4>
                                    <p class="text-secondary mb-1">@ViewBag.Rol</p>
                                    
                                    @*Botones clientes*@
                                    <br>
                                    @Html.ActionLink("Compras", "ComprasUsuario", "TbCompras", new { id = Model.IDUsuario }, new { @class = "btn btn-outline-btn" })
                                    <br>
                                    @Html.ActionLink("Cuenta", "DetailClient", "TbUsuarios", new { id = Model.IDUsuario }, new { @class = "btn btn-outline-btn" })
                                    <br>
                                    @Html.ActionLink("Restablecer Contraseña", "Reset_Password_CurrentUser", "Usuario", new { @class = "btn btn-outline-btn" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Información del evento*@
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="container">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Progreso</i>del evento</h6>
                                            <small>Progreso del evento</small>
                                            <div class="progress mb-3" style="height: 15px;">
                                                <div class="progress-bar bg-event" role="progressbar" style="width: @ViewBag.porcentaje; " aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ;></div>
                                            </div>
                                            @*<div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Cantidad de invitados</h6>
                                                    </div>

                                                    <div class="col-sm-9 text-secondary">
                                                        100
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Fecha de evento</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        @DateTime.Now
                                                    </div>
                                                </div>
                                                <hr>


                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Lugar de evento</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        Heredia
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <br />
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Informacion de</i>Usuario</h6>


                            @* Información de usuario*@
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre Completo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.nombre, new { @class = "control-label col-md-2" })
                                    @Html.DisplayFor(model => model.apellidos, new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <hr>
                            @*<div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Cédula</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        @Html.DisplayFor(model => model.cedula, new { @class = "control-label col-md-2" })
                                    </div>
                                </div>*@
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.correo, new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telefono</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Html.DisplayFor(model => model.telefono, new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <hr>

                            @*<div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Direccion</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Costa Rica, San Jose, DS
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>