@model TMC.DATA.TbRoles

@{
    ViewBag.Title = "Borrar Rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosAdmin.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosBarraAdmin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
</head>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Borrar Rol</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

@if (TMC.DATA.TbUsuarios.IDRolUsuarioActual == 2)
{

    Response.Redirect(Url.Action("Index", "Home"));
}
<body id="estiloAdmin" style="text-align:left">
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken() *@

        <div class="card-body">
            <h5 style="color: black; background-color: #DD969C;width: inherit;height: 100%;text-align: left">
                Confirmación del borrado de un Rol
            </h5>
            <br />


            <div class="col-12">
                <br />
                <div class="col-8">
                    <h3 style="color:red;">Está seguro que desea eliminar este rol?</h3>
                </div>
                <br />

            </div>
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IDRol)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IDRol)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.detalle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.detalle)
                    </dd>

                </dl>


                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn-outline-btn" />
                    | @Html.ActionLink("Regresar", "Admin_Roles", "TbRoles", new { @class = "text-danger" })

                </div>
                <br />


            </div>
        </div>
    }
    <script src="https://kit.fontawesome.com/065c8b2d38.js" crossorigin="anonymous"></script>
</body>
