@model TMC.DATA.TbFotos

@{
    ViewBag.Title = "Crear Foto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosGeneral.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosAdmin.css">
    <link rel="stylesheet" type="text/css" href="~/Estilos/EstilosBarraAdmin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Crear Foto</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<h2>Registrar Foto</h2>

<body id="estiloAdmin">
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@
        <div class="card-body">
            <h5 style="color: black; background-color: #DD969C;width: inherit;height: 100%;text-align: left">
                Crear Foto
            </h5>

            <div class="card">
                <br />
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.IDFoto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.IDFoto, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.IDFoto, "Este campo es autogenerado por la Base de Datos", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.foto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.foto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.foto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Crear" class="btn-outline-btn" />
                            |@Html.ActionLink(" Regresar", "Admin_Fotos", "TbFotos", null, new { @class = "text-danger" })

                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="https://kit.fontawesome.com/065c8b2d38.js" crossorigin="anonymous"></script>
</body>